List

In [6]:
listex = ["one", "two", "three", "four"]
print(listex)
print(listex[2])

if "three" in listex:
    print("success")

['one', 'two', 'three', 'four']
three
success

In [3]:
listex.append("five")

In [4]:
print(listex)

['one', 'two', 'three', 'four', 'five']

In [5]:
listex = ["one", "two", "three", "four"]
listex.pop(0)
print(listex)

['two', 'three', 'four']

In [9]:
print(listex)

['one', 'two', 'three', 'four', 'five']

In [14]:
listex.pop(1)

'four'

In [11]:
listex.pop(1)

'two'

In [12]:
print(listex)

['one', 'three', 'four', 'five']

In [12]:
listex.remove("one")

ValueError: list.remove(x): x not in list

In [14]:
listex

['three', 'four', 'five']

In [15]:
len.listex()

AttributeError: 'builtin_function_or_method' object has no attribute 'listex'

In [16]:
len(listex)

3

In [17]:
listex.sort(False)

TypeError: sort() takes no positional arguments

In [18]:
listex.sort()

In [19]:
listex

['five', 'four', 'three']

In [20]:
listex.sort(reverse=False)

In [21]:
listex

['five', 'four', 'three']

In [22]:
listex.sort(reverse=True)

In [23]:
listex

['three', 'four', 'five']

Functions

In [31]:
n1 = 2
n2 = 3
def add():
    return n1+n2

In [32]:
add()

5

Define a function that takes in a list of number and return the sum of numbers without using pre defined function

In [13]:
l = [1,2,3]

def list():
    return sum(l)
list()

6

In [59]:

def a(lst):
    sum = 0
    for item in lst:
        sum = sum+item
    return sum

a([1,2,3,4])

10

In [61]:
def a(lst):
    sum = 0
    for item in lst:
        sum +=int(item)
    return sum

b = input("enter a list with comma")
c = b.strip().split(',')
sum = a(c)
print("sum",sum)

sum 10

Count the even and odd numbers in the list and print the odd and even number count along with the numbers.
You will have a function that will take a list of numbers, then return the count of odd and even numbers and the new list of odd and even number

In [85]:
a = [1,2,3,4,5]
even, odd = 0 , 0

for num in a:
    if num % 2 == 0:
        even += 1
    
    else:
        odd += 1
        

print(even)
print(odd)
print(len(a))

2
3
5

In [89]:

arr = ['zero','one','two','three','four','five','six','seven','eight','nine']
 
def word(n):
    if(n==0):
        return ""
     
    else:
        ns = arr[n%10]
        ans = word(int(n/10)) + ns + " "
    return ans
 
n = int(input())
print("Number Entered was : ", n)
print("Converted to word it becomes: ",end="")
print(word(n))

Number Entered was :  1234
Converted to word it becomes: one two three four